div.alert.svelte-gqhhr9{border-radius:6px;margin-bottom:12px;padding:12px;width:100%}div.error.svelte-gqhhr9{background-color:rgba(255, 0, 0, 0.3);border:2px solid #990000}div.success.svelte-gqhhr9{background-color:rgba(0, 255, 0, 0.3);border:2px solid #009900}
input.error.svelte-nj2mxc{border:2px solid #990000}
.authorize.svelte-t98sgt{background:linear-gradient(green, #009900);background-color:green}.authorize.svelte-t98sgt:hover{background:linear-gradient(#009900, #00bb00)}
input.error.svelte-nj2mxc{border:2px solid #990000}
