<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="https://testoauth.com/">

    <title>Test OAuth | Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <meta name="theme-color" content="#2e2e33">
    <meta name="msapplication-TileColor" content="#2e2e33">

    <meta name="description" content="Authenticate and authorize with our mock identity provider.">
    <link rel="preload" href="/js/login.js" as="script">
    <link rel="preload stylesheet" href="/css/water.2.0.0.min.css" as="style">
    <link rel="preload stylesheet" href="/css/login.css" as="style">
  </head>
  <body>
    <h1>Resource Owner Authorization</h1>

    <p>
      The Client has requested authorization from the Resource Owner (user). This is hosted on the Resource Server's site.
    </p>
    <br />

    <div id="svelte-login"></div>
    <script>window.clientId = '{{.ClientId}}';</script>
    <script async src="/js/login.js"></script>

    <footer>
      Created by <a href="https://truggeri.com/" target="blank">@truggeri</a> ©2021 |
       View on <a href="https://github.com/truggeri/oauth-debugger" target="blank">Github</a>
    </footer>
  </body>
</html>
