<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="https://oauth-debugger.truggeri.com/">

    <title>OAD | Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="theme-color" content="#2e2e33">
    <meta name="msapplication-TileColor" content="#2e2e33">

    <meta name="description" content="Authenticate and authorize with our mock identity provider.">
    <link rel="preload" href="/login.js" as="script">
    <link rel="preload stylesheet" href="/water.css" as="style">
    <link rel="preload stylesheet" href="/login.css" as="style">
  </head>
  <body>

    <h1>OAuth Debugger</h1>

    <p>
      Congratulations, you've made it to <a href="https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2#step-2-user-authorizes-application">Step 2</a>
      of the <a href="https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2#grant-type-authorization-code">OAuth flow</a>
        - the user authorizing the application.
      In a typical setup, this step would involve logging into Google, LinkedIn or some similar identify provider.
    </p>
    <br />

    <div id="login-app"></div>
    <script>window.clientId = '{{.ClientId}}';</script>
    <script async src="/login.js"></script>

    <footer>
      This is the footer
    </footer>
  </body>
</html>
